.column {
    border: 1px solid;
    min-height: 400px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
  }

  .form-label {
    margin-top: 10px;
  }

  .heading {
    color: red;
    text-align: center;
    margin: 5% auto;
  }